.tropy {
  width: 100px;
  height: 100px;
}

.tropy2 {
  width: 70px;
  height: 70px;

}

.tropy3{
  width: 50px;
  height: 50px;
}

.silvertropy {
  width: 65px;
  height: 65px;
}

.frame {
  width: 500px;
  height: 250px;
}
.victory {
  width: 100px;
  height: 100px;
}
.friend {
  width: 60px;
  height: 60px;
}