<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.codearena.Chatting.mapper.GameMapper">
    <resultMap id="gameInfo" type="GameInfoDto">
        <result column="game_id" property="gameId"/>
        <result column="game_title" property="title"/>
        <result column="player1" property="userRed"/>
        <result column="player2" property="userBlue"/>
        <result column="problem_id" property="problemId"/>
        <result column="game_mode" property="gameMode"/>
        <result column="start_time" property="startTime"/>
        <result column="game_language" property="language"/>
        <result column="room_type" property="roomType"/>
    </resultMap>

    <resultMap id="winnerInfo" type="WinnerInfoDto">
        <result column="user_id" property="userId"/>
        <result column="user_nickname" property="userNickname"/>
    </resultMap>

    <!-- 검색조건 동적쿼리 -->
    <sql id="search">
        <if test='word != null and word != ""'>
            <if test="key == 'problem_id'">
                AND ${key} = #{word}
            </if>
            <if test="key == 'userNickname'">
                AND player1 IN(SELECT user_id FROM user WHERE user_id = #{word}) OR player2 IN(SELECT user_id FROM user WHERE user_id = #{word})
            </if>
        </if>
    </sql>
    <!-- 게임모드 동적쿼리 -->
    <sql id="mode">
        <if test='gameMode != null and gameMode != ""'>
            AND game_mode = #{gameMode}
        </if>
        <if test='gameMode == null and gameMode == ""'>
            AND game_mode = 1;
        </if>
    </sql>
    <!-- 정렬조건 동적쿼리 -->
    <sql id="sort">
        <if test='sortType == null and sortType == ""'>
            ORDER BY start_time DESC
        </if>
        <if test="sortType == 'old'">
            ORDER BY start_time ASC
        </if>
    </sql>

    <!-- 승자 판단 동적쿼리-->
    <sql id="winner">
        <if test='winner != null and winner != ""'>
            , winner = #{winner}
        </if>
    </sql>

    <!-- 레이팅 조회 동적쿼리 -->
    <sql id="rating">
        <if test='gamemode == "0"'>
            SELECT speed_rating
        </if>
        <if test='gamemode == "1"'>
            SELECT effi_rating
        </if>
    </sql>

    <!-- gameMode SET 동적쿼리 -->
    <sql id="modeset">
        <if test='gamemode == "0"'>
            speed_rating = #{rating}
        </if>
        <if test='gamemode == "1"'>
            effi_rating = #{rating}
        </if>
    </sql>

    <!-- roomType SET 동적쿼리 -->
    <sql id="room">
    <if test='roomType != null and roomType != ""'>
        <if test='roomType == "0"'>
            AND room_type = #{roomType}
        </if>
        <if test='roomType == "1"'>
            AND room_type = #{roomType}
        </if>
    </if>
        
    </sql>

    <!-- 랜덤 문제번호 조회 -->
    <select id="findProblemById" resultType="int">
        SELECT problem_id
        FROM code_arena.ps_list
        WHERE problem_visibility = 1
        ORDER BY RAND() LIMIT 1;
    </select>
    <!-- 특정 게임방 조회 -->
    <select id="findRoomById" parameterType="string" resultMap="gameInfo">
        SELECT game_id, game_title, player1, player2, problem_id, start_time, game_mode, game_language
        FROM competitive_game_list
        WHERE game_id = #{gameId};
    </select>
    <!-- 게임방 생성 -->
    <insert id="createPrivateRoom" parameterType="gameCreateDto">
        INSERT INTO competitive_game_list(game_id, game_title, player1, player2, problem_id, start_time, game_mode, game_language, room_type)
        VALUES(#{gameId}, #{title}, #{userRed}, #{userBlue}, #{problemId}, now(), #{gameMode}, #{language}, #{roomType});
    </insert>

    <!-- 게임방 목록 조회 -->
    <select id="findAllRoom" parameterType="map" resultMap="gameInfo">
        SELECT game_id, game_title, (SELECT user_nickname FROM user WHERE user_id = player1) as player1,(SELECT user_nickname FROM user WHERE user_id = player2) as player2, problem_id, start_time, game_mode, game_language, room_type
        FROM competitive_game_list
        WHERE end_time IS NULL
        <where>
            <include refid="mode"/>
            <include refid="search"/>
            <include refid="room"/>
        </where>
        <include refid="sort"/>
        LIMIT ${start}, ${listSize};
    </select>

    <!-- 페이지 개수 조회 -->
    <select id="getTotalGameCount" parameterType="map" resultType="int">
        select count(game_id)
        from competitive_game_list
        <where>
            <include refid="search"></include>
        </where>
    </select>

    <update id="terminateGame" parameterType="string">
        UPDATE competitive_game_list
        <set>
            end_time = now()
            <include refid="winner"></include>
        </set>
        WHERE game_id = #{gameId};
    </update>

    <select id="passProblem" parameterType="string" resultType="int">
        SELECT DISTINCT(user_id)
        FROM arena_submit_status
        WHERE game_id = #{gameId} AND (user_id = #{player1} OR user_id = #{player2}) AND submit_status = '맞았습니다.';
    </select>

    <select id="winnerSearch" parameterType="string" resultMap="winnerInfo">
        SELECT user_id, user_nickname
        FROM arena_submit_status
        WHERE game_id = #{gameId} AND submit_status = '맞았습니다.'
        ORDER BY time_complexity ASC , submit_date ASC LIMIT 1;
    </select>

    <select id="isRating" parameterType="map" resultType="int">
        <include refid="rating"></include>
        FROM user
        WHERE user_id = #{player}
    </select>

    <update id="refreshRating" parameterType="string">
        UPDATE user
        <set><include refid="modeset"></include></set>
        WHERE user_id = #{userId};
    </update>
</mapper>