.whitebox{
    width:400px;
    height:730px;
    border-radius:50px;
}
.beigebox{
    width:400px;
    height:400px;
    border-radius:50px;
}
.snsphoto{
    width: 50x;
    height: 50px;
}
.googlelogo{
    width: 45x;
    height: 45px;
}