.leftUp {
  background-color: #F4ECE4;
  border-radius: 30px;
  margin-bottom: 3%;
  margin-right: 3%;
}
.leftDown {
  background-color: #F4ECE4;
  border-radius: 30px;
  margin-right: 3%;
  margin-bottom: 35px;
}
.right {
  background-color: #F7F6E4;
  border-radius: 30px;
  max-height: 95vh;
  top:20px;
}
.con {
  min-height: 670px;
  padding: 35px;
}