.problemTable{
  background-color: #F4F5F1;
  border-radius: 15px;
  border-top-left-radius: 0px;
}

tr:hover{
  background-color: rgb(227, 230, 217);
}

.change:hover{
  background-color: rgb(227, 230, 217);
}

.orderBy{
  padding-top: 5px;
  margin-right: 2px;
  width: 100px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(227, 230, 217);
}

.unchoice{
  background-color: #F4F5F1;
}

.cell-height {
  height: 3rem;
}


.cell-height2 {
  height: 3rem;
}
