.pinkbutton{
  background-color: #F4ECE4;
}

.pinkbutton:hover {
  background-color: inherit;
}

.yellowbox {
  background-color: #F7F6E4;
  height:250px;
  border-radius: 10%;
}

.pinkbox{
  background-color: #F4ECE4;
  width: 400px;
  border-radius: 10%;
}
.editbox{
  background-color: #F7F6E4;
}