/* 임의의 영역 생성 */
.scrollBar { 
  width: 1000px;
  height: 1000px;
  overflow-y: scroll;
}

/* 아래의 모든 코드는 영역::코드로 사용 */
.scrollBar::-webkit-scrollbar {
    width: 7px;  /* 스크롤바의 너비 */
}

.scrollBar::-webkit-scrollbar-thumb {
    margin-top: 10px;
    height: 30%; /* 스크롤바의 길이 */
    background: rgb(169, 169, 169);
    
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    background: rgba(244, 174, 33, 0.1);  /*스크롤바 뒷 배경 색상*/
}