@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 735px;
  margin: 0px;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F5F1;
  min-height: 735px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@font-face{
  font-family : "sulight";
  src : url('./fonts/SUITE-Light.ttf');
}

/* @font-face{
  font-family : "suitesemi";
  src : url('./fonts/SUITE-SemiBold.ttf');
} */
